<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset</title>
</head>
<body>

<form th:action="@{/auth/change/password/setting}" method="post">
    <table>
        <tbody>
        <tr>
            <td>이메일 주소</td>
            <td>
                <input type="text" name="customerPassword" />
            </td>
        </tr>
        <tr>
            <td>새 비밀번호</td>
            <td>
                <input type="text" name="changePassword" />
            </td>
        </tr>
        <tr>
            <td>새 비밀번호 확인</td>
            <td>
                <input type="text" name="changePasswordCheck" />
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="click">
</form>

</body>
</html>