<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::head}, ~{::body})}">
<th:block th:fragment="head">
    <script type="application/javascript">
        function passwordcheck()
        {
            if(document.getElementsByName('partnerPassword')[0].value === "")
            {
                alert("현재 비밀번호를 입력해 주세요.");
                return false;
            }
            if(document.getElementsByName('changePassword')[0].value === "")
            {
                alert("새 비밀번호를 입력해 주세요.");
                return false;
            }
            if(document.getElementsByName('changePassword_check')[0].value === "")
            {
                alert("새 비밀번호 확인을 입력해 주세요.");
                return false;
            }

            if(document.getElementsByName('changePassword')[0].value !== document.getElementsByName('changePassword_check')[0].value) {
                alert("새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.");
                return false;
            }

            return true;
        }
    </script>
</th:block>

<th:block th:fragment="body">
<div class="min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center" style="font-size: 1.3em;">비밀번호 변경</h1>
            <form th:action="@{/mypage/changepassword}" method="POST" name="form1">
                <input
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="partnerPassword" style="width:350px"
                        placeholder="현재 비밀번호" />

                <input
                        type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="changePassword" style="width:350px"
                        placeholder="새 비밀번호" />
                <input
                        type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="changePassword_check" style="width:350px"
                        placeholder="새 비밀번호 확인" />
                <button
                        type="submit"
                        class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-dark focus:outline-none my-1"
                        onclick="return passwordcheck();"
                >비밀번호 변경</button>
            </form>
        </div>
    </div>
</div>
</th:block>
</html>