<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/default :: layout (~{::head}, ~{::body})}">
<th:block th:fragment="head">
    <script type="application/javascript">
        function passwordcheck()
        {
            if(document.getElementsByName('partnerPassword')[0].value === "")
            {
                alert("현재 비밀번호를 입력해 주세요.");
                return false;
            }
            if(document.getElementsByName('changePassword')[0].value === "")
            {
                alert("새 비밀번호를 입력해 주세요.");
                return false;
            }
            if(document.getElementsByName('changePassword_check')[0].value === "")
            {
                alert("새 비밀번호 확인을 입력해 주세요.");
                return false;
            }

            if(document.getElementsByName('changePassword')[0].value !== document.getElementsByName('changePassword_check')[0].value) {
                alert("새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.");
                return false;
            }

            return true;
        }
    </script>
</th:block>

<th:block th:fragment="body">
    <div class="h-screen flex items-center justify-center">
        <div class="w-full max-w-2xl" >
            <form th:action="@{/mypage/changepassword}" method="POST" name="form1" class="bg-white shadow-md rounded px-8 pb-8 ">
                <h1 class="mb-8 text-3xl text-center" style="font-size: 1.3em;">비밀번호 변경</h1>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="partnerPassword">
                    기존 비밀번호
                </label>
                <input class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="partnerPassword" id="partnerPassword" type="password" placeholder="********" >

                <label class="block text-gray-700 text-sm font-bold mb-2" for="changePassword">
                    새 비밀번호
                </label>
                <input class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="changePassword" id="changePassword" type="password" placeholder="********">

                <label class="block text-gray-700 text-sm font-bold mb-2" for="changePassword_check">
                    새 비밀번호 확인
                </label>
                <input class="mb-8 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="changePassword_check" id="changePassword_check" type="password" placeholder="********">

                <div class="flex content-center justify-between">
                    <button class="bg-blue-500  hover:bg-blue-700 text-white font-bold py-2 w-full rounded focus:outline-none focus:shadow-outline" type="submit" onclick="return passwordcheck();">
                        비밀번호 변경
                    </button>
                </div>

            </form>
        </div>
    </div>
</th:block>
</html>