<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/default :: layout (~{::head}, ~{::body})}">

<th:block th:fragment="head">
    <!--<link rel -->
</th:block>

<th:block th:fragment="body">
    <div class="h-screen flex items-center justify-center">
        <div class="px-6 py-8 rounded shadow-md">
            <div class="bg-white  text-black w-full">
                <h1 class="mb-8 text-3xl text-center">로그인</h1>
                <form th:action="@{/auth/login}" method="POST">
                    <input
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="partnerId"
                            placeholder="이메일"/>

                    <input
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="partnerPassword"
                            placeholder="비밀번호"/>

                    <button
                            type="submit"
                            class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-dark focus:outline-none my-1"
                    >로그인
                    </button>
                </form>
            </div>

            <div class="text-grey-dark mt-6">
                아직 BetterPlace 회원이 아니신가요?
                <a class="no-underline border-b border-blue text-blue" th:href="@{/auth/signup}">
                    회원가입
                </a>
            </div>
        </div>
    </div>
</th:block>
</html>
