<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/default :: layout (~{::head}, ~{::body})}">
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:src="@{/css/style.css}"/>
</th:block>
<th:block th:fragment="body">
    <div class="flex flex-col">
        <div class="mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full mt-10 mb-10">
                <h1 class="mb-8 text-3xl text-center" style="font-size: 1.3em;">마이페이지</h1>
                <form>
                    <!-- <div class="w-full p-2 text-lg font-bold border-blue-600 border-t"></div> -->
                    <div align="center">
                        <div class="w-24 h-24 relative mb-4">
                            <div class="group w-full h-full rounded-full overflow-hidden shadow-inner text-center bg-purple table cursor-pointer">
                                <span class="hidden group-hover:table-cell text-white font-bold align-middle">KR</span>
                                <img src="https://pickaface.net/gallery/avatar/unr_random_180410_1905_z1exb.png"
                                     alt="lovely avatar"
                                     class="object-cover object-center w-full h-full visible group-hover:hidden"/>
                            </div>
                        </div>
                       <!-- <button style="font-size: 13px"
                                class="bg-transparent hover:bg-blue text-blue-dark font-semibold py-2 px-4 border border-blue hover:border-transparent rounded mr-2"
                                th:align="center">
                            프로필 변경하기
                        </button>-->
                    </div>
                    <!-- <div class="w-full p-2 text-lg font-bold border-blue-600 border-b"></div> -->
                    <div>
                        <table width="400ex">
                            <tr style="height:40px">
                                <td width="30%"><font size="2.5em">닉네임</font></td>
                                <td width="50%" ><font size="2.5em" th:text="${partner.partnerId}" style="font-weight: bold"></font>
                                </td>
                                <td width="20%"></td>
                            </tr>
                            <tr style="height:40px">
                                <td width="30%"><font size="2.5em">이메일</font></td>
                                <td width="50%" ><font size="2.5em" th:text="${partner.email}" style="font-weight: bold"></font>
                                </td>
                                <td width="20%"></td>
                            </tr>
                            <tr style="height:40px">
                                <td width="30%"><font size="2.5em">비밀번호</font></td>
                                <td width="50%">
                                    <a th:href="@{mypage/changepassword}" style="font-size: 13px" class="text-blue-700 font-bold underline hyperlink">변경하기</a>
                                </td>
                                <td width="20%"></td>
                            </tr>
                            <tr style="height:40px">
                                <td width="30%"><font size="2.5em">마케팅 수신동의</font></td>
                                <td width="50%"><font size="2.5em" style="font-weight: bold">이메일</font></td>
                                <td width="20%">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td width="30%"></td>
                                <td width="50%"><font size="2.5em" style="font-weight: bold">SMS</font></td>
                                <td width="20%">  <!-- Rounded switch -->
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                        <br><br>
                        <a
                                type="submit"
                                class="w-full text-center py-3 rounded bg-green-500 text-white ocus:outline-none my-1 bg-teal-500 hover:bg-teal-700 font-bold px-4 border-blue-700 rounded">확인</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>