<!DOCTYPE html>
<html lang="ko" class="antialiased" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice_wk.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.css}">



</head>
<body>
    <!--Container-->
    <div class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">

        <!--Title-->
        <h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
            공지 사항
        </h1>


        <!--Card-->
        <div id="" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white" style="border: 4px solid #704de4;">
            <div class="flex">
                <div class="w-1/3">
                    <label class="text-grey-darker font-bold mb-2">
                        카테고리 선택
                    </label>
                </div>
                <div class="w-2/3">
                    <label class="text-grey-darker font-bold mb-2">
                        공지사항 검색
                    </label>
                </div>
            </div>
            <div class="flex">
                <div class="w-1/3">
                    <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" id="grid-state">
                        <option>New Mexico</option>
                        <option>Missouri</option>
                        <option>Texas</option>
                    </select>
                </div>
                <div class="w-2/3">
                    <input class="w-full p-4 rounded focus:outline-none focus:shadow-outlne text-xl px-8 shadow-lg" type="search" placeholder="Search...">
                </div>
            </div>
        </div>
        <!--/Card-->
        <br>
        <br>
        <!--Card-->
        <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
           <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                <thead style="display: none;">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="tab w-full overflow-hidden border-t">
                            공지사항
                        </div>
                    </td>
                    <td>
                        <div class="tab w-full overflow-hidden border-t">
                            <input class="absolute opacity-0" id="tab-single-one" type="radio" name="tabs2">
                            <label class="block p-5 leading-normal cursor-pointer" for="tab-single-one">공지사항1</label>
                            <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        공지사항
                    </td>
                    <td>
                        <div class="tab w-full overflow-hidden border-t">
                            <input class="absolute opacity-0" id="tab-single-two" type="radio" name="tabs2">
                            <label class="block p-5 leading-normal cursor-pointer" for="tab-single-two">공지사항2</label>
                            <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        공지사항
                    </td>
                    <td>
                        <div class="tab w-full overflow-hidden border-t">
                            <input class="absolute opacity-0" id="tab-single-three" type="radio" name="tabs2">
                            <label class="block p-5 leading-normal cursor-pointer" for="tab-single-three">공지사항3</label>
                            <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Rest of your data (refer to https://datatables.net/examples/server_side/ for server side processing)-->
                </tbody>
            </table>
        </div>
        <!--/Card-->


    </div>
    <!--/container-->

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!--Datatables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function() {

            var table = $('#example').DataTable( {
                responsive : true,
                searching  : false,
                select     : false
            } )
                .columns.adjust()
                .responsive.recalc();
        } );
        /* Optional Javascript to close the radio button version by clicking it again */
        var myRadios = document.getElementsByName('tabs2');
        var setCheck;
        var x = 0;
        for(x = 0; x < myRadios.length; x++){
            myRadios[x].onclick = function(){
                if(setCheck != this){
                    setCheck = this;
                }else{
                    this.checked = false;
                    setCheck = null;
                }
            };
        }
    </script>
    </div>
</body>
</html>
