<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/default :: layout (~{::head}, ~{::body})}">
<th:block th:fragment="head">

    <script type="application/javascript">
        function mincount_updown (kind) {

            let minValue = document.getElementsByName('mincount')[0].value;
            let minCount = parseInt(minValue.substring(0, minValue.length-1));

            if (kind == "-")
            {
                if(minCount <= 1) {
                    alert("최소 인원은 1명입니다.");
                    return false;
                }

                document.getElementsByName('mincount')[0].value = (--minCount) + "명";
            }
            else if (kind == "+")
            {
                document.getElementsByName('mincount')[0].value = (++minCount) + "명";
            }
            return true;
        }

        function maxcount_updown (kind) {

            let maxValue = document.getElementsByName('maxcount')[0].value;
            let maxCount = parseInt(maxValue.substring(0, maxValue.length-1));

            if (kind == "-")
            {
                if(count <= 1) {
                    alert("최소 인원은 1명입니다.");
                    return false;
                }
                document.getElementsByName('maxcount')[0].value = (--maxCount) + "명";

            }
            if (kind == "+")
            {
                document.getElementsByName('maxcount')[0].value = (++maxCount) + "명";
            }
            return true;
        }
    </script>
</th:block>

<th:block th:fragment="body">
    <div class="bg-scroll pt-10 bg-gray-100">
        <div class="container mx-auto flex-1 flex flex-col items-center justify-center px-2" >
            <div class="w-2/3" >
                <h1 class="mb-8 text-2xl text-center">세부 공간 등록하기</h1>
                <form th:object="${placedtl}" method="POST">
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="placedtlname">
                                세부 공간명
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="placedtlname" id="placedtlname" type="text" placeholder=""/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="placedtlintro">
                                세부 공간 소개
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="placedtlintro" id="placedtlintro" type="text" placeholder=""/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="mincount">
                                최소예약인원
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="1명" name="mincount" id="mincount" type="text" readonly/>

                            <div class="inline-flex">
                                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" onclick="mincount_updown('-');">
                                    -
                                </button>
                                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" onclick="mincount_updown('+');">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="maxcount">
                                최대예약인원
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="1명" name="maxcount" id="maxcount" type="text" readonly/>

                            <div class="inline-flex">
                                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" onclick="maxcount_updown('-');">
                                    -
                                </button>
                                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" onclick="maxcount_updown('+');">
                                    +
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="flex content-center justify-between">
                        <button class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 w-full rounded focus:outline-none focus:shadow-outline" type="submit">
                            세부 공간 등록
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>