<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/default :: layout (~{::head}, ~{::body})}">
<th:block th:fragment="head">
    <!--<link rel -->

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="application/javascript">

        function addTagList() {
            let tagcount = parseInt(document.getElementById("tagcount").value);

            if (tagcount < 5)
            {

                let input = document.createElement('input');

                input.className   = "mb-4 shadow text-sm appearance-none w-full border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline";
                input.placeholder = "태그를 입력해 주세요.";
                input.type        = "text";
                input.name        = "tags";

                document.getElementById('taglist').appendChild(input);
                document.getElementById("tagcount").value = ++tagcount;
            }
            else
            {
                alert("태그는 최대 5개 입력 가능합니다.")
            }
        }

        function addInfoList() {
            let infocount = parseInt(document.getElementById("infocount").value);

            if (infocount < 10)
            {
                let input = document.createElement('input');

                input.className   = "mb-4 shadow text-sm appearance-none w-full border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline";
                input.placeholder = "최대 10개까지 작성 가능합니다.";
                input.type        = "text";
                input.name        = "infos";

                document.getElementById('infolist').appendChild(input);
                document.getElementById("infocount").value = ++infocount;
            }
            else
            {
                alert("최대 10개까지 작성 가능합니다.")
            }
        }

        function addNoticeList() {
            let noticecount = parseInt(document.getElementById("noticecount").value);

            if (noticecount < 10)
            {
                let input = document.createElement('input');

                input.className   = "mb-4 shadow text-sm appearance-none w-full border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline";
                input.placeholder = "최대 10개까지 작성 가능합니다.";
                input.type        = "text";
                input.name        = "notices";

                document.getElementById('noticelist').appendChild(input);
                document.getElementById("noticecount").value = ++noticecount;
            }
            else
            {
                alert("최대 10개까지 작성 가능합니다.")
            }
        }

        function placecheck()
        {
            var tags = document.getElementsByName('tags').length;
            var blankcheck = false;

            for(var i = 0; i < tags; i++)
            {
                if(document.getElementsByName("tags")[i].value.length > 0) {
                    blankcheck = true;
                    break;
                }
            }

            if(blankcheck == false)
            {
                alert("공간 태그를 입력해 주세요.");
                return false;
            }


            var infos = document.getElementsByName('infos').length;
            blankcheck = false;

            for(var i = 0; i < infos; i++) {
                if(document.getElementsByName("infos")[i].value.length > 0)
                {
                    blankcheck = true;
                    break;
                }
            }

            if(blankcheck == false)
            {
                alert("시설 안내를 입력해 주세요.");
                return false;
            }

            var notices = document.getElementsByName('notices').length;
            blankcheck = false;

            for(var i = 0; i < notices; i++) {
                if(document.getElementsByName("notices")[i].value.length > 0)
                {
                    blankcheck = true;
                    break;
                }
            }

            if(blankcheck == false)
            {
                alert("예약 시 주의사항를 입력해 주세요.");
                return false;
            }

            return true;
        }

        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addressdetail").focus();
                }
            }).open();
        }

    </script>
</th:block>

<th:block th:fragment="body">
    <div class="bg-scroll bg-gray-100">
        <div class="container mx-auto flex-1 flex flex-col items-center justify-center px-2" >
            <div class="w-2/3" >
                <h1 class="mt-8 mb-8 text-2xl text-center">공간 등록하기</h1>
                <form th:action="@{/place/registration}" th:object="${place}" method="POST" enctype="multipart/form-data">
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="placeName">
                                공간명
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="placeName" id="placeName" type="text"/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="intro">
                                공간 소개
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="intro" id="intro" type="text"  placeholder="공간을 상세하게 소개해보세요. 공간의 특징이나 주변환경 등의 세부정보를 작성하시면 효과적입니다."/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <input type="hidden" value="1" id="tagcount">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="tag">
                                공간 태그
                            </label>
                            <div class="flex">
                                <div class="w-5/6" id="taglist">
                                    <input class="mb-4 shadow text-sm appearance-none w-full border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="tags" id="tag" type="text" placeholder="태그를 입력해 주세요."/>
                                </div>
                                <div class="w-1/6 ml-4">
                                    <button type="button" onclick="addTagList()" class="text-base bg-green-500 hover:bg-green-700 text-white font-bold w-full  align-middle py-2 px-4 rounded">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <input type="hidden" value="1" id="infocount">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="infos">
                                시설안내
                            </label>
                            <div class="flex">
                                <div class="w-5/6" id="infolist">
                                    <input class="mb-4 shadow text-sm appearance-none w-full border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="infos" id="infos" type="text" placeholder="최대 10개까지 작성 가능합니다."/>
                                </div>
                                <div class="w-1/6 ml-4">
                                    <button type="button" onclick="addInfoList()" class="text-base bg-green-500 hover:bg-green-700 text-white font-bold w-full  align-middle py-2 px-4 rounded">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <input type="hidden" value="1" id="noticecount">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="notice">
                                예약 시 주의사항
                            </label>
                            <div class="flex">
                                <div class="w-5/6" id="noticelist">
                                    <input class="mb-4 shadow text-sm appearance-none w-full border rounded py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="notices" id="notice" type="text" placeholder="최대 10개까지 작성 가능합니다."/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="convenience">
                                편의시설
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="convenience" id="convenience" type="text" placeholder="최대 10개까지 작성가능합니다."/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="website">
                                웹사이트
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="website" id="website" type="text" placeholder="웹사이트 URL을 입력해 주세요."/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2">
                                대표이미지
                            </label>
                            <div class="flex">
                                <input type="file" id="imageFile" name="imageFile" class="bg-white hover:bg-gray-100 text-gray-800 text-sm font-semibold py-2 px-4 border border-gray-400 rounded shadow"/>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2">
                                주소(위치)
                            </label>
                            <div class="flex">
                                <div class="w-2/6" >
                                    <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="zipcode" id="zipcode" type="text" placeholder="우편번호 찾기"/>
                                </div>
                                <div class="w-2/6 ml-1">
                                    <button type="button" onclick="execDaumPostcode()" class="text-base bg-green-500 hover:bg-green-700 text-white font-bold w-full  align-middle py-3 px-6 rounded">
                                        우편번호 찾기
                                    </button>
                                </div>
                            </div>
                            <div class="flex">
                                <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="address" id="address"  type="text" placeholder="주소"/>
                            </div>
                            <div class="flex">
                                <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="addressdetail" id="addressdetail"  type="text" placeholder="상세주소"/>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                이메일
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" id="email" type="text" placeholder="이메일을 입력해주세요."/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
                                대표전화번호
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="phone" id="phone" type="text" placeholder="이메일을 입력해주세요."/>
                        </div>
                    </div>
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="defaultPrice">
                                금액
                            </label>
                            <input class="mb-4 shadow text-sm appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="defaultPrice" id="defaultPrice" type="text" placeholder="금액을 입력해주세요."/>
                        </div>
                    </div>
                    <div class="flex content-center justify-between">
                        <button onclick="return placecheck();" class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 w-full rounded focus:outline-none focus:shadow-outline" type="submit" >
                            공간 등록
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>
