<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::head}, ~{::body})}">

<th:block th:fragment="head">
    <link rel="stylesheet" href="css/imageEffect.css">
    <script type = "text/javascript">
        function displayNextImage() {
            x = (x === images.length - 1) ? 0 : x + 1;
            document.getElementById("img").src = images[x];
        }

        function displayPreviousImage() {
            x = (x <= 0) ? images.length - 1 : x - 1;
            document.getElementById("img").src = images[x];
        }

        function startTimer() {
            setInterval(displayNextImage, 2000);
        }

        var images = [], x = -1;
        images[0] = "https://images.unsplash.com/photo-1523214969941-40a37196fd31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80";
        images[1] = "https://images.unsplash.com/photo-1547743052-3a5fec50cadf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80";
        images[2] = "https://images.unsplash.com/photo-1556742393-d75f468bfcb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80";

        window.onload = function () {
            startTimer();
        }
    </script>
</th:block>

<th:block th:fragment="body">

    <!-- Main Image -->
    <div class="mt-20 relative">
            <img class="object-cover h-128 w-full" src="https://images.unsplash.com/photo-1547743052-3a5fec50cadf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
            <img class="object-cover h-128 w-full mainImg" src="https://images.unsplash.com/photo-1556742393-d75f468bfcb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
<!--       <img class="object-cover h-128 w-full" src="https://images.unsplash.com/photo-1556742393-d75f468bfcb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">-->
    </div>

    <div class="px-56 py-24">
        <!-- 추천 공간 구간 -->
        <div class="text-4xl text-center font-semibold pb-8">
            오늘의 추천 공간
        </div>
        <div th:replace="~{components/photoCard :: card('소셜팩토리 1호점', '홍대 합정', 'https://images.unsplash.com/photo-1467238307002-480ffdd260f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', '1500원/시간', '#'
                                                       ,'굿브라더스 1호점', '강남', 'https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', '2000원/시간', '#'
                                                       ,'배럴플레이스 강남점', '강남 역삼', 'https://images.unsplash.com/photo-1556742393-d75f468bfcb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', '1000원/시간', '#')}" ></div>

        <!-- 지역 공간 -->
        <div class="text-4xl text-center font-semibold pt-24 pb-8">다양한 스타일을 가진 스터디룸</div>

        <div th:replace="~{components/photoCard :: card('소셜팩토리 1호점', '홍대 합정', 'https://images.unsplash.com/photo-1467238307002-480ffdd260f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', '1500원/시간', '#'
                                                       ,null, '강남', 'https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', '2000원/시간', '#'
                                                       ,null, '강남 역삼', 'https://images.unsplash.com/photo-1556742393-d75f468bfcb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', '1000원/시간', '#')}" ></div>

        <!-- 더 보기 -->
        <div class="pt-16">
            <button class="w-full h-16 border border-blue-600 hover:bg-blue-600 hover:text-white">
                더보기 +
            </button>
        </div>
    </div>
</th:block>
</html>
