<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">

<header>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script th:inline="javascript">

        $(document).ready(function() {
            var formObj = $("#movePage");

            $(".pager a").click(function(e) {

                e.preventDefault();

                formObj.find('[name="page"]').val( $(this).attr('href') );

                formObj.submit();
            });

        });

    </script>
</header>
<body>
    <header>
        <h1>Notice</h1>
    </header>

    <div>
        List Page
    </div>
    <form method="Post">
    <div>
        <label>
            <input type="text" id="search" name="search">
        </label>
        <button>검색</button>
    </div>
    </form>
    <form id="movePage" th:action="@{notice}" method="get">
        <input type="hidden" name="page" th:value="${result.currentPageNum}">
    </form>
    <div>
        <p>[[${result}]]</p>
        <div th:with="result=${result.result}">
            <ul>
                <li th:each="board:${result.content}">
                    [[${board}]]
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <div>
            <ul class="pager">
                <li th:if="${result.prevPage}">
                    <a th:href="${result.prevPage.pageNumber} + 1">PREV [[${result.prevPage.pageNumber} + 1 ]]</a>
                </li>
                <li th:each="p:${result.pageList}">
                    <!--th:classappend="${p.pageNumber == result.currentPageNum-1} ? active : '' "-->
                    <a th:href="${p.pageNumber} + 1">[[${p.pageNumber} + 1]]</a>
                </li>
                <li th:if="${result.nextPage}">
                    <a th:href="${result.nextPage.pageNumber} + 1">NEXT [[${result.nextPage.pageNumber} + 1 ]]</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>

<!--<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::head}, ~{::body})}">
<th:block th:fragment="head">
</th:block>
<th:block th:fragment="body">
<div class="flex items-center justify-center">
<div class="container">
    <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
        <tbody class="flex-1 sm:flex-none">
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
            <td class="border-grey-light border hover:bg-gray-100 p-3">John Covv</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">contato@johncovv.tech</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 cursor-pointer">
                <i class="far fa-angle-down"></i>
            </td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
            <td class="border-grey-light border hover:bg-gray-100 p-3">Michael Jackson</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">m_jackson@mail.com</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 cursor-pointer">
                <i class="far fa-angle-down"></i>
            </td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
            <td class="border-grey-light border hover:bg-gray-100 p-3">Julia</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">julia@mail.com</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3">
                <i class="far fa-angle-down"></i>
            </td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
            <td class="border-grey-light border hover:bg-gray-100 p-3">Martin Madrazo</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">martin.madrazo@mail.com</td>
            <td class="border-grey-light border hover:bg-gray-100 p-3">
                <i class="far fa-angle-down"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<style>
    html,
    body {
        height: 100%;
    }

    @media (min-width: 640px) {
        table {
            display: inline-table !important;
        }

        thead tr:not(:first-child) {
            display: none;
        }
    }

    td:not(:last-child) {
        border-bottom: 0;
    }

    th:not(:last-child) {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
</style>
</th:block>
</html>-->