<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/divide2 :: layout (~{::links},~{::top}, ~{::left}, ~{::right})}" lang="ko">

<th:block th:fragment="links">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</th:block>

<th:block th:fragment="top">
</th:block>

<th:block th:fragment="left">
    <div class="text-4xl font-extrabold" th:text="${place.getPlaceName()}"></div>
    <div class="relative mt-2 mb-4">
        <temp th:each="tag : ${#strings.arraySplit(place.getTag(),',')}">
            <a class="inline bg-gray-200 py-1 px-2 rounded-full text-sm lowercase text-gray-700" href="#"
               th:text="${#strings.concat('#', tag)}"></a>
        </temp>
    </div>

    <div class="bg-gray-400">
        <img class="object-cover h-64 w-full" th:src="${place.getImage()}">
    </div>

    <br/>

    <div th:replace="~{components/place/textDetailBox :: textBox('공간 소개', ${place.getIntro()}, '10~22시', '일요일')}"></div>

    <div th:replace="~{components/place/textListBox :: textBox('시설 안내', ${place.getInfo()})}"></div>

    <div th:replace="~{components/place/textListBox :: textBox('예약시 주의사항', ${place.getNotice()})}"></div>

    <!-- 지도 -->
    <div class="max-w-6xl mx-auto">
        <div class="flex items-center justify-center">
            <div class="w-full py-6">
                <div class="bg-white shadow-xl rounded-lg overflow-hidden">

                    <div class="p-4">
                        <div class="text-2xl font-bold" th:text="${place.getPlaceName()}"></div>
                        <div class="text-lg text-gray-900" th:text="${place.getAddress()}"></div>
                        <div class="text-lg text-gray-700" th:text="${place.getWebsite()}"></div>
                    </div>

                    <div class="bg-cover bg-center p-4" style="height: 70vh;">
                        <div id="map" style="width:100%;height:100%;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        // ThymeLeaf 데이터 Javascript에 매핑

        /*<![CDATA[*/
        var address = /*[[ ${place.getAddress()} ]]*/;
        var placeName = /*[[ ${place.getPlaceName()} ]]*/;
        /*]]>*/

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(address, function (result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">' + placeName + '</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    </script>

    <!-- Q & A -->
    <div>
        <div class="text_box msimple">
            <h4 class="h_intro">
                Q&amp;A
                <strong style="color: #6d3afb;" th:text="${comments.size()}+'개'">4개</strong>
                <a style="float:right"><span class="sp_icon icon_write"></span> <span>질문 작성하기</span></a>
            </h4>
        </div>
        <!-- 댓글 등록하기 -->
        <div>
            <div class="bg-white w-full shadow rounded-lg p-5">
                <textarea id="comment_textArea" class="bg-gray-200 w-full rounded-lg shadow border p-2" rows="4" placeholder="문의하고 싶은 내용을 등록하세요."></textarea>
                <div class="w-full flex flex-row flex-wrap mt-3">
                    <div class="w-1/3">
                    </div>
                    <div class="w-2/3">
                        <button type="button" onclick="registerComment()" class="float-right bg-indigo-400 hover:bg-indigo-300 text-white p-2 rounded-lg">질문 등록하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 등록한 댓글 목록 -->
        <div id="commentList" class="review_box">
            <div class="review_list" th:each="comment : ${comments}" th:fragment="more_comment">
                <div th:replace="~{components/place/comment :: comment(${comment.getCustomer().getNickname()},${comment.getComment()}, ${comment.getPrintDate()}, null)}"></div>
            </div>
        </div>
    </div>
</th:block>
<!-- 상세 공간 선택 페이지 -->
<th:block th:fragment="right">


    <div class="w-full p-2 text-lg font-bold border-blue-600 border-b">세부공간 선택</div>

    <div class="w-full border-0 border-grey-light  border-solid text-sm">
        <div class="text-center text-base border-0 border-grey-light border-b border-solid py-4">
            예약할 공간을 선택해주세요.
        </div>
        <div>
            <div th:each="placeDetail : ${place.getPlaceDetails()}">
                <div class="border-0 border-grey-light border-b border-solid py-4">
                    <label>
                        <input type="radio" name="selectPlace" th:value="${placeDetail.getPlaceDetailNo()}"
                               th:text="${placeDetail.getPlaceDetailName()}" onclick="showDateTimeArea(this)"/>
                    </label>
                </div>
            </div>
        </div>
        <div id="dateTimeArea" style="display:none;">
            <div class="w-full p-2 text-lg font-bold border-blue-600 border-b">날짜 선택</div>
            <div id="selectedDate" class="border-0 border-grey-light border-b border-solid py-4 text-lg text-right font-bold text-blue-200">2020-01-16(수)</div>
            <div id="dateArea" class="border-0 border-grey-light border-b border-solid py-4 text-lg font-bold">

            </div>
            <div class="w-full border-0 border-grey-light border-b border-solid py-4 inline-flex">
                <div class="w-4/12">
                    <span class="bg-gray-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;예약 불가</span>
                </div>
                <div class="w-4/12">
                    <span class="bg-yellow-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;오늘</span>
                </div>
                <div class="w-4/12">
                    <span class="bg-blue-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;선택</span>
                </div>
            </div>
            <div id="timeArea" style="display:none;">
                <div class="w-full p-2 text-lg font-bold border-blue-600 border-b">시간 선택</div>
                <div id="selectedTime" class="border-0 border-grey-light border-b border-solid py-4 text-lg text-right font-bold text-blue-200"><span id="selectedTimeSum">0</span> 시간</div>
                <div id="availTimeList" class="border-0 border-grey-light border-b border-solid py-4 text-lg font-bold">
                </div>
                <div class="w-full border-0 border-grey-light border-b border-solid py-4 inline-flex">
                    <div class="w-4/12">
                        <span class="bg-gray-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;예약 불가</span>
                    </div>
                    <div class="w-4/12">
                        <span class="bg-yellow-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;가능</span>
                    </div>
                    <div class="w-4/12">
                        <span class="bg-blue-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;선택</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 선택 -->
        <div>
            <button class="w-full bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2  border border-blue-500 hover:border-transparent rounded"
                    onclick="reservePlace()">
                예약하기
            </button>
        </div>

    </div>

    <script th:inline="javascript">

        function registerComment() {
            let commnetVal = document.getElementById('comment_textArea').value;
            let placeNo = /*[[ ${place.getPlaceNo()} ]]*/;
            $.ajax({
                method: 'POST',
                url: '/place/' + placeNo + '/comment',
                data: {
                    comment : commnetVal
                },
                success: function (data) {
                    $("#commentList").append(data);
                    document.getElementById('comment_textArea').value = '';
                },
                error: function (error){
                    console.log(error.status);
                    if(error.status == 401){
                        location.href='/login';
                    }else{
                        window.location.reload();
                    }
                }
            });

        }

        function reservePlace() {

            let form = document.createElement("form");
            form.method = "POST";

            // Place No 설정
            let placeNo = document.createElement("input");
            placeNo.name = "placeNo";
            placeNo.value = /*[[ ${place.getPlaceNo()} ]]*/;
            form.appendChild(placeNo);

            // Place DetailNo 설정
            let placeDetail = document.createElement("input")
            placeDetail.name = "placeDetailNo";
            placeDetail.value = document.querySelector('input[name="selectPlace"]:checked').value;
            form.appendChild(placeDetail);

            // 예약 날짜
            let reserveDate = document.createElement("input");
            reserveDate.name = "reservationDate";
            reserveDate.value = "20200115";
            form.appendChild(reserveDate);

            // 예약 시간
            let startTime = document.createElement("input");
            startTime.name = "startTime";
            startTime.value = "13";
            form.appendChild(startTime);

            // 예약 인원
            let count = document.createElement("input");
            count.name = "count";
            count.value = "4";
            form.appendChild(count);

            // 예약 사용 시간
            let useTime = document.createElement("input");
            useTime.name = "useTime";
            useTime.value = "3";
            form.appendChild(useTime);

            form.action = '/reserve/'+placeNo.value;
            document.body.appendChild(form);
            form.submit();
        }

        var urlArray;
        var placeNo;
        var placeDetailNo;
        var availTime;

        $(function() {
            urlArray = window.location.href.split("/");
            placeNo = urlArray[4];

            $("#dateArea").datepicker({
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
                ,dayNamesMin:['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                ,dateFormat:"yy-mm-dd"
                ,minDate:"0D"
                ,maxDate:"+1M"
                ,onSelect:function(dateText, inst) {
                    console.log(placeNo);
                    console.log(placeDetailNo);
                    console.log(dateText);
                    $.ajax({
                        url:"/reserve/possible/" + placeNo + "/" + placeDetailNo + "/" + dateText,
                        method: "GET",
                        dataType: "json"
                    })
                        .done(function(json) {
                            availTime = json['availTime'].split(',');
                            //console.log(availTime);
                            showTimeArea();
                        })
                        .fail(function(){
                            console.log("error");
                        });
                }
            });

            $("#dateArea").datepicker('setDate', 'today');
        });

        function showDateTimeArea(id) {
            placeDetailNo = id.getAttribute("value");

            $("#dateTimeArea").removeAttr("style");
        }

        function showTimeArea() {
            $("#timeArea").removeAttr("style");

            var strHtml = "";
            var strTime = "";
            var counter = 0;

            console.log("showTimeArea");

            console.log(availTime);

            for (var i = 0; i < 24; i++) {
                ++counter;
                if (i < 10) {
                    strTime = "0" + i;
                    const isFound = availTime.find(element => element === strTime);
                    strHtml = strHtml + isAvailTimeHtml(isFound, strTime);
                } else {
                    strTime = "" + i;
                    const isFound = availTime.find(element => element === strTime);
                    strHtml = strHtml + isAvailTimeHtml(isFound, strTime);
                }

                if(counter === 6) {
                    counter = 0;
                    strHtml = strHtml + "</br></br>";
                }
            }

            console.log(strHtml);

            $("#availTimeList").append(strHtml);

        }

        function isAvailTimeHtml(isFound, strTime) {
            if(isFound) {
                return "<span class=\"inline bg-yellow-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700\" onclick=\"selectTimeToggle(this)\">&nbsp;&nbsp;" + strTime + "&nbsp;&nbsp;</span>";
            } else {
                return "<span class=\"inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700\">&nbsp;&nbsp;" + strTime + "&nbsp;&nbsp;</span>";
            }
        }

        function selectTimeToggle(time) {
            var TimeSum = parseInt($("#selectedTimeSum").text());
            $("#selectedTimeSum").text(TimeSum + 1);

            $(time).removeAttr("class");
            $(time).removeAttr("onclick");
            $(time).attr("class", "inline bg-blue-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700");
            $(time).attr("onclick", "unselectTimeToggle(this)");
        }

        function unselectTimeToggle(time) {
            var TimeSum = parseInt($("#selectedTimeSum").text());
            $("#selectedTimeSum").text(TimeSum - 1);

            $(time).removeAttr("class");
            $(time).removeAttr("onclick");
            $(time).attr("class", "inline bg-yellow-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700");
            $(time).attr("onclick", "selectTimeToggle(this)");
        }
    </script>

</th:block>

</html>
