<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::head}, ~{::body})}" lang="ko">

<th:block th:fragment="head">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</th:block>

<th:block th:fragment="body">

    <div class="pb-40">
        <!-- Title -->
        <div class="text-3xl font-bold text-center pt-40 pb-16">
            예약이 완료되었습니다.
        </div>

        <div class="w-1/3" style="margin: 0 auto">
            <!-- 예약공간 -->
            <div th:insert="~{components/reserve/textLabel :: label('예약 공간', '소셜팩토리 1호점 A룸(2-4인실)')}"></div>
            <!-- 예약 날짜-->
            <div th:insert="~{components/reserve/textLabel :: label('예약 날짜', '2019.11.25 (월)')}"></div>
            <!-- 예약 시간-->
            <div th:insert="~{components/reserve/textLabel :: label('예약 시간', '10시 ~ 13시 (3시간)')}"></div>
            <!-- 예약 인원-->
            <div th:insert="~{components/reserve/textLabel :: label('예약 인원', '3명')}"></div>
            <!-- 요청 사-->
            <div th:insert="~{components/reserve/textLabel :: label('요청 사항', '없음')}"></div>
            <!-- 결제 예정금액-->
            <div th:insert="~{components/reserve/textLabel :: label('결제 금액', '₩9,000')}"></div>

            <!-- 환불 규정 -->
            <div class="w-full pt-4 pb-8 text-sm text-red-600 font-semibold">
                결제 후 2시간이 지난 후 예약 취소시, 호스트가 설정한 환불기준에 따라 환불이 진행됩니다.
            </div>

            <!-- Button -->
            <button class="modal-open w-full mt-1 hover:bg-transparent bg-blue-500 hover:text-blue-700 font-semibold text-white py-2  border border-blue-500 border-transparent rounded" onclick="location.href='/'">
                홈 화면으로 이동
            </button>

        </div>



    </div>


</th:block>

</html>
