<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/divide2 :: layout (~{::links}, ~{::top}, ~{::left}, ~{::right})}" lang="ko">

<th:block th:fragment="links">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/tailwind.css" />
</th:block>

<th:block th:fragment="top">
    <div class="text-2xl font-bold">
        예약하기
    </div>
</th:block>

<th:block th:fragment="left">

    <!-- 예약공간 -->
    <div class="pb-20">
        <div class="w-full p-2 text-lg font-bold border-blue-600 border-b">예약 공간</div>
        <div class="p-8 bg-gray-100">
            <!-- Img, 공간 설명-->
            <div class="pb-8 border-b border-gray-400 flex">
                <div class="w-1/4 ">
                    <img src="https://images.unsplash.com/photo-1523214969941-40a37196fd31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80" >
                </div>
                <div class="w-3/4 pl-8">
                    <div class="text-xl font-bold pb-4 border-gray-300 border-b">
                        소셜팩토리 2호점
                    </div>
                    <div class="text-base pt-4">
                        최소 3명~최대 8명 이용 가능한 단독 공간입니다. 소규모 회의, 스터디, 모임, 원데이 클래스를 진행하기 좋습니다.
                    </div>
                </div>
            </div>

            <!-- 예약 인원-->
            <div class="py-4 border-b border-gray-400 flex">
                <div class="w-1/4">
                    <div class="text-base text-gray-500">
                        예약 인원
                    </div>
                </div>
                <div class="w-3/4 pl-8">
                    <div class="text-base">
                        최소 3명 ~ 최대 8명
                    </div>
                </div>
            </div>

            <!-- 편의 시설 -->
            <div>
                <ul class="flex flex-wrap" >
                    <li class="flex px-4 pt-4" th:each="num: ${#numbers.sequence(1,9)}">
                        <div class="ico_table"></div>
                        <span class="pl-4 pt-2 text-gray-400">
                            의자/테이블
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 예약정보 -->
    <div class="pb-20">
        <div class="w-full p-2 text-lg font-bold border-blue-600 border-b">예약 공간</div>
        <div class="px-8 bg-gray-100">
            <!-- 예약 날짜-->
            <div class="py-4 border-b border-gray-400 flex">
                <div class="w-1/4">
                    <div class="text-base text-gray-500">
                        예약 날짜
                    </div>
                </div>
                <div class="w-3/4 pl-8">
                    <div class="text-base text-right">
                        2019.11.25 (월) 10시 ~ 13시
                    </div>
                </div>
            </div>
            <!-- 예약 인원-->
            <div class="py-4 flex">
                <div class="w-1/4">
                    <div class="text-base text-gray-500">
                        예약 인원
                    </div>
                </div>
                <div class="w-3/4 pl-8">
                    <div class="text-base text-right">
                        3명
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 예약자 정보 -->
    <div class="pb-20">
        <div class="w-full p-2 text-lg font-bold border-blue-600 border-b">예약자 정보</div>
        <div class="px-8 bg-gray-100">
            <!-- 예약 날짜-->
            <div class="py-4 border-b border-gray-400 flex">
                <div class="w-1/5">
                    <div class="h-full text-base font-bold text-gray-500" style="-webkit-align-items: center;
                    align-items: center;">
                        <div>예약자</div>
                    </div>
                </div>
                <div class="w-4/5">
                    <input class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" value="Jane Doe" />

                </div>
            </div>
            <!-- 예약 인원-->
            <div class="py-4 flex">
                <div class="w-1/4">
                    <div class="text-base text-gray-500">
                        예약 인원
                    </div>
                </div>
                <div class="w-3/4 pl-8">
                    <div class="text-base text-right">
                        3명
                    </div>
                </div>
            </div>
        </div>
    </div>




</th:block>

<th:block th:fragment="right">
</th:block>

</html>