<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>

<body>
<!--th:action="@{/fooform}" th:object="${parter}"-->
<form action="/partner/resultID" method="post">
    <table>
        <tr>
            <th>
                <label>파트너ID</label>
            </th>
            <td>
                <label>
                    <span th:text="${id}"></span>
                </label>
            </td>
        </tr>
    </table>
</form>
</body>
</html>