
<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<body>

<div class="text_box" th:fragment="textBox (title, information, usableTime, notWorkingDay)">
    <h4 class="h_intro" th:text="${title}"></h4>
    <pre class="p_intro" th:text="${information}"></pre>
    <div class="mt-8">
        <div class="flex">
            <div class="w-20">영업시간</div>
            <div th:text="${usableTime}" ></div>
        </div>

        <div class="bg-gray-400 h-px my-3"></div>

        <div class="flex">
            <div class="w-20">휴무일</div>
            <div th:text="${notWorkingDay}"></div>
        </div>
    </div>
</div>

</body>
</html>