<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (head,template)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/tailwind.css" rel="stylesheet">
    <th:block th:include="${head}"/>
</head>
<body>

        <header th:insert="~{component/header :: header}"></header>
        <th:block th:include="${template}"/>
        <!-- <footer th:insert="~{component/footer :: footer}"></footer> -->
</body>
</html>