<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (head, template)">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.css}" />
    <script type="javascript" th:src="@{/js/all.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_hs.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <th:block th:include="${head}"/>
    <title></title>
</head>
<body>
    <header th:insert="~{component/header :: header}"></header>
    <div class="pt-20">
        <th:block th:include="${template}"/>
    </div>
</body>
</html>
