<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <!-- This is an example component -->
  <header class="w-full bg-teal-500 fixed z-50" th:fragment="header">
    <nav class="flex h-14 justify-between w-full bg-teal-500 text-white py-4 px-6">
      <div class="flex w-7/12 items-center">
        <!-- logo -->
        <div class="font-bold mr-6 text-xl tracking-tight">
          <a href="">BetterPlace</a> <span class="text-orange-300">파트너</span>
        </div>
      </div>

      <div class="w-3/12 md:items-center md:w-auto flex">
        <div class="flex text-sm" v-else>
          <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776;</span>
        </div>
      </div>
    </nav>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div id="profile" class="sidenav_cont profile">
        <img th:src="@{/image/img_avatar.png}" alt="profile" class="img_profile">
        <a sec:authorize="isAnonymous()" th:href="@{/auth/login}" style="position: relative;width:100px;display: inline-block;">로그인</a>
        <div sec:authorize="isAuthenticated()" sec:authentication="principal.username"  style="position: relative;width:100px;display: inline-block;"></div>
        <a sec:authorize="isAuthenticated()" th:href="@{/mypage}" style="position: relative;width:100px;display: inline-block;">프로필 관리</a>
      </div>
      <div id="menu_top" class="sidenav_cont menu_top">
        <a th:href="@{/auth/reservation}" class=" border-solid border-r border-gray-500 text-center">
          <i class="fas fa-clipboard"></i>
          <br>
          <span th:class="text-base">예약 리스트</span>
        </a>
        <a href="/" class="border-solid border-r border-gray-500 text-center">
          <i class="fas fa-edit"></i>
          <br>
          <span th:class="text-base">이용후기<br>Q&A관리</span>
        </a>
        <a href="/" class="text-center">
          <i class="fas fa-home"></i>
          <br>
          <span th:class="text-base">찜한 공간</span>
        </a>
      </div>
      <div id="title" class="sidenav_cont title">
        <a>
          <span>이 달의 기획전</span>
        </a>
      </div>
      <div id="menu" class="sidenav_cont menu">
        <div class="bg-white shadow w-64 my-2 w-full" >
          <ul class="list-reset">
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-purple hover:bg-grey-lighter border-r-4">Better Place Home</a>
            </li>
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">써 본 사람</a>
            </li>
            <li>
              <a href="/board/notice" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">공지사항</a>
            </li>
            <li >
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">도움말</a>
            </li>
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">1:1문의</a>
            </li>
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">서비스 정보</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="sidenav_footer" class="sidenav_cont sidenav_footer">
        <a sec:authorize="isAnonymous()" th:href="@{/auth/login}" class="text-center">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="text-center">로그아웃</a>
        <span>The Better Place Corp.</span>
      </div>
      <a class="text-center align-middle" href="/" style="background-color:#b3d9ff;height:70px;">
        <span>호스트 센터로 이동</span>
        <i class="fas fa-angle-right text-right"></i>
      </a>
    </div>
  </header>
</body>
</html>

