<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <!-- This is an example component -->
  <header class="w-full bg-teal-400 fixed z-50" th:fragment="header">
    <nav class="flex justify-between w-full bg-blue-600 text-white py-4 px-6">
      <div class="flex w-7/12 items-center">
        <!-- logo -->
        <div class="font-bold mr-6 text-xl tracking-tight">
          <a href="/">BetterPlace</a>
        </div>
        <!-- search -->
        <div class="flex w-full items-center bg-white  border-b border-b-2 border-teal-500 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-4 leading-tight focus:outline-none" type="text" placeholder="원하는 공간을 입력하세요.">
          <a href="/#">
          <svg version="1.1" class="h-4 mr-4 text-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve">
            <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
            c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
            C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
            S32.459,40,21.983,40z"/>
            </svg>
          </a>
        </div>

      </div>

        <div class="w-5/12 md:items-center md:w-auto flex">
          <div class="md:flex hidden">
            <a class="block text-white text-xl font-base mr-4" href="/">기획전</a>
            <a class="block text-white text-xl font-base mr-4" href="/place/registration">공간 등록하기</a>
          </div>
          <div class="flex text-sm" v-else>
          	<span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776;</span>
          </div>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div id="profile" class="sidenav_cont profile">
        <img th:src="@{/image/img_avatar.png}" alt="profile" class="img_profile">
        <a sec:authorize="isAnonymous()" th:href="@{/auth/login}" style="position: relative;width:100px;display: inline-block;">로그인</a>
        <div sec:authorize="isAuthenticated()" sec:authentication="principal.username"  style="position: relative;width:100px;display: inline-block;"></div>
        <a sec:authorize="isAuthenticated()" th:href="@{/mypage}" style="position: relative;width:100px;display: inline-block;">프로필 관리</a>
      </div>
      <div id="menu_top" class="sidenav_cont menu_top">
        <a href="/" class="border-solid border-r border-gray-500 text-center">
          <i class="fas fa-clipboard"></i>
          <br>
          <span style="font-size: 15px">예약 리스트</span>
        </a>
        <a href="/" class="border-solid border-r border-gray-500 text-center">
          <i class="fas fa-edit"></i>
          <br>
          <span style="font-size: 15px">이용후기<br>Q&A관리</span>
        </a>
        <a href="/" class="text-center">
          <i class="fas fa-home"></i>
          <br>
          <span style="font-size: 15px">찜한 공간</span>
        </a>
      </div>
      <div id="title" class="sidenav_cont title">
        <a>
          <span>&nbsp;&nbsp;이 달의 기획전</span>
        </a>
      </div>
      <div id="menu" class="sidenav_cont menu">
        <div class="bg-white shadow w-64 my-2" style="width:100%;">
          <ul class="list-reset">
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-purple hover:bg-grey-lighter border-r-4">Better Place Home</a>
            </li>
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">써 본 사람</a>
            </li>
            <li>
              <a href="/notice" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">공지사항</a>
            </li>
            <li >
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">도움말</a>
            </li>
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">1:1문의</a>
            </li>
            <li>
              <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4">서비스 정보</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="sidenav_footer" class="sidenav_cont sidenav_footer">
        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="text-center">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="text-center">로그아웃</a>
        <span>The Better Place Corp.</span>
      </div>
      <a class="text-center align-middle" href="/" style="background-color:#b3d9ff;height:70px;">
        <span>호스트 센터로 이동</span>
        <i class="fas fa-angle-right text-right"></i>
      </a>
    </div>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
        document.getElementById("main").style.marginRight = "0";

        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginRight= "0"; // div id="main" 지정 아직 못함, 이미지 파일 음영 불가

        document.body.style.backgroundColor = "white";
      }
    </script>
  </header>

</body>
</html>

