<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<br><br><br><br><br>
<div class="w-full md:w-3/5 mx-auto p-8" th:fragment="noticeaccordian">
    <h2><strong>공지 사항</strong></h2>
    <div class="shadow-md">
        <div class="tab w-full overflow-hidden border-t">
            <input class="absolute opacity-0" id="tab-single-one" type="radio" name="tabs2">
            <label class="block p-5 leading-normal cursor-pointer" for="tab-single-one">Label One</label>
            <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
            </div>
        </div>
        <div class="tab w-full overflow-hidden border-t">
            <input class="absolute opacity-0" id="tab-single-two" type="radio" name="tabs2">
            <label class="block p-5 leading-normal cursor-pointer" for="tab-single-two">Label Two</label>
            <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
            </div>
        </div>
        <div class="tab w-full overflow-hidden border-t">
            <input class="absolute opacity-0" id="tab-single-three" type="radio" name="tabs2">
            <label class="block p-5 leading-normal cursor-pointer" for="tab-single-three">Label Three</label>
            <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="flex items-center">
        <a class="rounded-l rounded-sm border-t border-b border-l border-brand-light px-3 py-2 text-brand-dark hover:bg-brand-light no-underline" rel="prev" href="">Prev</a>
        <a class="border-t border-b border-l border-brand-light px-3 py-2 no-underline" href="">1</a>
        <a class="border-t border-b border-l border-brand-light px-3 py-2 bg-brand-light no-underline" href="">2</a>
        <a class="border-t border-b border-l border-brand-light px-3 py-2 hover:bg-brand-light text-brand-dark no-underline" href="">3</a>
        <a class="rounded-r rounded-sm border border-brand-light px-3 py-2 hover:bg-brand-light text-brand-dark no-underline" href="" rel="next">Next</a>
        <!-- 금지 표시 span 태그로 바꾸고 cursor-not-allowed 클래스에 추가 -->
    </div>
</div>

</html>