<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<body>
      <div class="w-1/3 mr-6" th:fragment="card (title1, location1, photoUrl1, price1, link1)">
        <div class="bg-white overflow-hidden shadow relative " onclick="location.href ='/place'" style="cursor: pointer;" th:if="${title1}">
          <div class="img-hover-zoom">
            <img class="h-56 w-full object-cover object-center " th:src="${photoUrl1}" alt="" src="">
          </div>
          <div class="p-4 h-auto md:h-40 lg:h-40">
            <div class="text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg" th:text="${title1}"></div>
            <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm" th:text="${location1}"></div>
            <div class="font-bold text-xl mb-2" th:text="${price1}"></div>
            <div class="relative mt-2 lg:absolute mb-4 md:hidden lg:block">
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#스터디룸</a>
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#회의실</a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
